<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="modal fade" th:fragment="sharemodal" id="cookModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    Modal
                </h4>
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <label for="recipient-name" class="col-form-label">Recipient:</label>
                    <input type="text" class="form-control" id="recipient-name">
                    <button th:onclick="generate()">confirm</button>
                </div>
                <div id="modalBody"></div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
</html>